/* Displayer */

.display {
    position: relative;
    background-color: $secondary-background-color;
    height: 91px;
    text-align: right;
    .number {
        position: absolute;
        font-size: 40px;
        color: white;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid $secondary-background-color;
    }
}
