/* numpad */

.numpad {
    display: grid;
    padding: 22px;
    grid-template-columns: repeat(4, 84px);
    grid-template-rows: repeat(5, 67px);
    grid-gap: 25px;
    border: 1px solid;
    border-top: none;
    @include darken-border($main-background-color);
}

/* Equal button */

.button:nth-child(8) {
    grid-column: 4 / 5;
    grid-row: 2 / 6;
}