/* main */

.calculator {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    height: 600px;
    width: 500px;
    background-color: white;
    border: 2px solid;
    @include darken-border($main-background-color);
}
